<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>Promote Analogue Time for Children</title>
    </head>
<div id="opacity"></div>
    <body>

        <header>
            <div class="header">
                <h1 class="animated slideInDown fadeIn">Promote Analogue Time for Children</h1>
                <a id="logout" href="/logout" {{#if on}} class="on" {{/if}}>
                    logout
                </a>

            </div>

            <h2 >help us raise awareness for a healthy digital/analogue balance</h2>
        </header>
        {{{body}}}
    <footer>
         © Eli Fabrikant - 2019
    </footer>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script.js">

    </script>
    </body>
</html>
